body {
    margin: 0;

    background: #ED5A22 url("../images/background.jpg") repeat-y center top -236px;

    font-family: 'Roboto', 'Arial', sans-serif;
    @include font(16px, 400, 1.5);
    color: $base-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include breakpoint($breakpoint-xs) {
        background-image: url("../images/background-mobile.jpg");
    }
}

body.scroll-off {
    height: 100vh;
    overflow: hidden;
    padding-right: 15px;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, textarea, select, button {
    font-family: inherit;
}

.page {
    @extend %flex-column;
    min-height: 100vh;

    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}


/* Focus-element
================*/
:focus {
    outline: 2px solid $secondary-color;
}

:focus:not(:focus-visible) {
    outline: 0;
}

:focus-visible {
    outline: 2px solid $secondary-color;
}


/* Container
================*/
.container {
    width: 100%;
    max-width: 1220px;
    padding: 0 20px;
    margin: 0 auto;
}
