.buffet {

    &__title {
        margin-top: -6px;

        @include breakpoint($breakpoint-xs) {
            margin-bottom: 20px;
        }
    }

    &__description {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: -18px 0 0 auto;
        max-width: 685px;

        font-size: 26px;
        line-height: 1.3;

        @include breakpoint($breakpoint-xs) {
            margin-top: 0;
            font-size: 20px;
        }
    }

    &__inner{
        width: 100%;
        min-height: 670px;

        position: relative;

        @include breakpoint($breakpoint-xs) {
            height: 1070px;
        }
    }

    &__item {

        &:nth-child(1) {
            @include element-position-tl(260px, 260px, 400px, 414px);
            z-index: 2;

            @include breakpoint($breakpoint-xs) {
                @include element-position-tl(220px, 220px, 780px, -11px);
            }

            .bubble__description {
                margin-left: 5px;
                max-width: 175px;
            }
        }

        &:nth-child(2) {
            @include element-position-tl(365px, 365px, -9px, -1px);

            .bubble__title {
                max-width: 270px;
            }

            @include breakpoint($breakpoint-xs) {
                @include element-position-tl(310px, 310px, 27px, -17px);

                .bubble__wrapper {
                    left: 10%;
                }

                .bubble__title {
                    margin-bottom: 10px;
                    line-height: 1;
                }
            }
        }

        &:nth-child(3) {
            @include element-position-tl(260px, 260px, 252px, 155px);

            @include breakpoint($breakpoint-xs) {
                @include element-position-tl(220px, 220px, 270px, 68px);
            }

            .bubble__description {
                max-width: 175px;
            }
        }

        &:nth-child(4) {
            @include element-position-tl(400px, 400px, 95px, 438px);

            .bubble__title {
                margin-bottom: 10px;
                max-width: 319px;
            }

            @include breakpoint($breakpoint-xs) {
                @include element-position-tl(310px, 310px, 509px, -15px);

                .bubble__title {
                    max-width: 270px;
                    line-height: 1;
                }
            }
        }
    }

    &__photo-one {
        @include element-position-tr(372px, 368px, 46px, -59px);

        @include breakpoint($breakpoint-xs) {
            @include element-position-tl(199px, 276px, 321px, -20px);
        }
    }

    &__photo-two {
        @include element-position-tr(372px, 368px, 316px, 31px);

        @include breakpoint($breakpoint-xs) {
            @include element-position-tl(165px, 242px, 677px, 135px);
        }
    }

    &__decorative-line {
        @include element-position-tl(222px, 401px, 28px, 300px);
        z-index: -1;
    }

    &__star-one {
        @include element-position-tl(22px, 21px, 25px, 293px);
        -webkit-transform: rotate(-16.2deg);
        -ms-transform: rotate(-16.2deg);
        transform: rotate(-16.2deg);
    }

    &__star-two {
        @include element-position-tr(34px, 30px, 86px, 324px);
        -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        transform: rotate(30deg);
    }

    &__star-three {
        @include element-position-tr(25px, 21px, 352px, 43px);
        -webkit-transform: rotate(-18deg);
        -ms-transform: rotate(-18deg);
        transform: rotate(-18deg);
    }

    &__decorative-line,
    &__star-one,
    &__star-two,
    &__star-three {
        @include breakpoint($breakpoint-xs) {
            display: none;
        }
    }

    &__star-four {
        @include element-position-tl(33px, 29px, 517px, 3px);
        -webkit-transform: rotate(15deg);
        -ms-transform: rotate(15deg);
        transform: rotate(15deg);

        @include breakpoint($breakpoint-xs) {
            @include element-position-tl(21.6px, 19px, 1034px, -1px);
        }
    }

    &__text {
        font-size: 26px;
        line-height: 1.25;

        position: absolute;
        top: 558px;
        left: 35px;

        @include breakpoint($breakpoint-xs) {
            font-size: 20px;
            top: 1030px;
        }
    }
}