.tracking {

    &__link {
        @extend %flex-align-center-sb;
        max-width: 480px;
        padding: 10px 16px;

        background-color: $secondary-color;
        border-radius: 10px;

        -webkit-transition: background 0.2s linear;
        -o-transition: background 0.2s linear;
        transition: background 0.2s linear;

        &:hover {
            background: lighten($element-color, 5%)
        }

        @include breakpoint($breakpoint-xs) {
            position: relative;
        }
    }

    &__text {
        margin: 0;

        font-weight: 500;
        line-height: 1.3;

        span {
            display: inline-block;
            margin-bottom: 8px;
            font-size: 20px;
            font-weight: 800;
        }

        @include breakpoint($breakpoint-xs) {
            max-width: 198px;
        }
    }

    &__icon {
        width: 63px;
        height: 53px;

        @include breakpoint($breakpoint-xs) {
            position: absolute;
            top: 50%;
            right: 15px;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }
}